<form {{action savePony this on='submit'}}>
    <label for="firstName">First Name</label>
    {{input value=firstName}}
    <br>

    <label for="lastName">Last Name</label>
    {{input value=lastName}}
    <br>

    <label for="color">Color</label>
    {{input value=color}}
    <br>

    <label for="type">Type</label>
    {{input value=type}}
    <br>

    <input type="submit"/>
</form>